html, body {
    height: 100%;
    margin: 0;
  }

  body {
   background-image: url(https://scitechdaily.com/images/Colorful-Tetris-Tiles-777x524.jpg?ezimgfmt=ng:webp/ngcb1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    background-color: black;
    border: 1px solid white;
  }